In [6]:
import polars as pl
from sqlalchemy import create_engine
import os
import pandas as pd


engine = create_engine('mysql+pymysql://eflt_admin:SeniorDesign@eflt-sd.cse.eng.auburn.edu/EFLT')
connection = engine.connect()



sql_df = pd.read_sql_table(
    "DISTRICT",
    con=connection
)

sql_df = pl.from_pandas(sql_df)
district_truth = sql_df.with_columns(
    pl.col("LEANM").str.to_lowercase()
    .alias("district_name")
).drop("LEANM")

In [7]:
district_truth = district_truth["district_name"].unique().sort()

print(f"There are {district_truth.shape[0]} unique districts from the SQL table")

district_truth

df_translate = pl.read_csv("../District_County.csv", ignore_errors=True)

df_translate = df_translate.filter(pl.col("State FIPS") == 1)

df_translate = df_translate.drop("State FIPS", "State Postal Code")

df_translate = df_translate.with_columns(
    pl.col("School District Name")
    .str.to_lowercase()
    .str.replace_all("school district", "")
    .str.replace_all("st. ", "st ")
    .str.replace_all("city city", "city")
    .str.strip_chars()
)

df_translate["School District Name"].unique(maintain_order=True)

df_translate
print(f"There are {df_translate["County Names"].unique().shape[0]} counties in the translation table")
print(f"There are {df_translate["School District Name"].unique().shape[0]} districts in the translation table")
# Convert district_truth Series to DataFrame
district_truth_df = district_truth.to_frame(name="district_name")
district_truth_df
diff_df = df_translate.join(
    district_truth_df,
    left_on="School District Name",
    right_on="district_name",
    how="anti",
    )

print(f"There are {diff_df.shape[0]} districts in the translation table that are not in the SQL table")
diff_df

combine_df = df_translate.join(
    district_truth_df,
    left_on="School District Name",
    right_on="district_name",
    )

combine_df = combine_df.with_columns(
    pl.col("County Names").str.to_lowercase()
)

sql_df = sql_df.with_columns(pl.col("LEANM").str.to_lowercase())

final_df = sql_df.join(combine_df, left_on="LEANM", right_on="School District Name", how="left")
# There are about 700 new rows, because it seems that some of the districts correspond to multiple counties
# I validated this on a few rows, and it seems to be true based on a map
# If you google "Alabama County Map" you can see where cities are located in counties


# First, get the current column names
current_columns = final_df.columns

# Create new column names: convert to lowercase and replace spaces with underscores
new_columns = [col.lower().replace(" ", "_") for col in current_columns]

# Assign the new column names to the DataFrame
final_df.columns = new_columns

final_df = final_df.with_columns(
    pl.col("leanm").str.to_titlecase(),
    pl.col("county_names").str.to_titlecase(),
)


print(", ".join(final_df.columns))

There are 136 unique districts from the SQL table
There are 67 counties in the translation table
There are 141 districts in the translation table
There are 6 districts in the translation table that are not in the SQL table
id, leaid, leanm, grade, year, achv, achvz, math, rla, totenrl, perasn, perblk, perhsp, perind, perwht, perecd, perell, hperasn, hperblk, hperhsp, hperind, hperwht, hperecd, hperell, locale4, locale3, blackbeltsm, distr, diinstaid, diguidc, dilib, diadmin, direvtotal, direvlocal, diexptotal, diexpinst, diexpsuppt, diexppupl, diexpplant, diexpbus, disalall, disalreg, disalinst, disalplant, disalbus, disalpupl, hsecdnec, rsecdnec, cmpoverty, cmunemp, cmsglprnt, cmcollege, snapall, fooddesert, ct_econtype, ct_loweducation, ct_poploss, ct_retiredest, ct_persistpoverty, ct_persistchildpoverty, h_fctr_zs, hbehavezs, clincarezs, socecnzs, physenvzs, district_id_number, county_names, county_fips

In [9]:
final_df.write_csv("district_fancy.csv")
# final_df.to_pandas().to_sql("DISTRICT_FANCY", con=connection, if_exists="replace", index=False, index_label="ID")